.name {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.29px;
  text-align: left;
  color: #000000;
}

.balance {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.29px;
  text-align: left;
  color: #000000;
  font-weight: bold;
}
